<launch>
    <!--Global parameters -->
    <param name="world_frame" value="world"/>

    <node pkg="pyarena_vehicle" type="vehicle_node.py" name="unicycle" output="screen">
        <rosparam>  
            type: 'unicycle'
            x0: [0.,0.,0.]
            dt: 0.01
        </rosparam>
    </node>    
</launch>
